#!/bin/bash
# Uses a PID file to add daemon-like behavior to an arbitrary program.
################################################################################
 
OTWHOME="/opt/otw"
PROGSHORT="${OTWHOME}/dispatcher.py"
PROGLONG="python ${PROGSHORT} ${OTWHOME}/dispatcher-config.json"
PIDFILE="${OTWHOME}/dispatcher.pid"

usage() {
 echo "Usage: `basename $0` {start|stop|restart|force-stop|force-restart|status}" >&2
}
 
proc2cmd() {
 declare PID=$1
 declare CMDLINE=$(echo $(cat /proc/$PID/cmdline | while read -r -d $'\0' LINE; do echo $LINE; done | head -2 | tail -1))
 realpath "${CMDLINE}"
}

# At least one argument is required.
if [[ -z "${1}" ]]; then
 echo "args"
 usage
 exit 1
fi

#echo PROGLONG=$PROGLONG
#echo PROGSHORT=$PROGSHORT
#echo PIDFILE=$PIDFILE

# Get the PID from PIDFILE if we don't have one yet.
if [[ -z "${PID}" && -e ${PIDFILE} ]]; then
 PID=$(cat ${PIDFILE});
fi
 
start() {
 echo "Starting $PROGSHORT (PID written to $PIDFILE)"
 ${PROGLONG} & echo $! > ${PIDFILE}
}
 
status() {
 if [[ -z "${PID}" ]]; then
 echo "${PROGSHORT} is not running (missing PID)"
 elif [[ -e /proc/${PID}/exe && "`proc2cmd ${PID}`" == "${PROGSHORT}" ]]; then
 echo "${PROGSHORT} is running (PID ${PID})"
 else
 echo "${PROGSHORT} is not running (tested PID ${PID})"
 fi
}
 
stop() {
 if [[ -z "${PID}" ]]; then
 echo "${PROGSHORT} is not running (missing PID)"
 elif [[ -e /proc/${PID}/exe && "`proc2cmd ${PID}`" == "${PROGSHORT}" ]]; then
 kill $1 ${PID}
 else
 echo "${PROGSHORT} is not running (tested PID ${PID})"
 fi
}
 
case "$1" in
start)
 start;
 ;;
restart)
 stop; sleep 1; start;
 ;;
stop)
 stop
 ;;
force-stop)
 stop -9
 ;;
force-restart)
 stop -9; sleep 1; start;
 ;;
status)
 status
 ;;
*)
 echo "no match"
 usage
 exit 4
 ;;
esac
 
exit 0
 
######################################################################
# This program is free software. It comes without any warranty, to
# the extent permitted by applicable law.
#
# If your jurisdiction supports the concept of Public Domain works,
# this program is released into the Public Domain.
#
# Otherwise this program is available under the following terms:
#---------------------------------------------------------------------
# Copyright (c) 2012, Rodney Waldhoff
#
# Everyone is permitted to copy and distribute verbatim or modified
# copies of this program with or without this notice.
######################################################################

